/node_modules
/vendor
/public/build
/public/hot
.env
.env.backup
.env.production
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/app/public/*
.phpunit.result.cache
/tests/Feature/ExampleTest.php
/tests/Unit/ExampleTest.php
node_modules
npm-debug.log
yarn-error.log
.idea
.vscode
.DS_Store
